<app-my-nav-bar></app-my-nav-bar>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer mode="side" opened>
    <div *ngFor="let ticket of array">
      <mat-card class="key" (click)="onSelect(ticket)">
        <p>Ticket Id: {{ ticket.ticketId }}</p>
        <p>Category: {{ ticket.category }}</p>
        <p>Logged Date: {{ getDate(ticket.loggedDate) }}</p>
      </mat-card>
    </div>
  </mat-drawer>

  <div class="value" class="example-sidenav-content">
    <div class="ticket-summary">
      <h3>Ticket Summary</h3>

      <div class="row">
        <div class="column">
          <div class="card">
            <h3>Total</h3>
            <h1 class="count">{{ totalTickets }}</h1>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <h3>Open</h3>
            <h1 class="count">{{ openedTickets }}</h1>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <h3>Closed</h3>
            <h1 class="count">{{ closedTickets }}</h1>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <h3>Re-Opened</h3>
            <h1 class="count">{{ reopnedTickets }}</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div *ngIf="totalTickets == 0; else elseBlock">
        <p class="msg">No tickets raised</p>
      </div>
      <ng-template #elseBlock>
        <mat-card class="ticket-details">
          <div class="content">
            <div class="title">Ticket Id</div>
            <div class="description">{{ selectedTicket?.ticketId }}</div>
          </div>

          <div class="content">
            <div class="title">Status</div>
            <div class="description">
              {{ getStatus(selectedTicket?.status) }}
            </div>
          </div>

          <div class="content">
            <div class="title">Category</div>
            <div class="description">{{ selectedTicket?.category }}</div>
          </div>

          <div class="content">
            <div class="title">Type</div>
            <div class="description">{{ selectedTicket?.type }}</div>
          </div>

          <div class="content">
            <div class="title">Item</div>
            <div class="description">{{ selectedTicket?.item }}</div>
          </div>

          <div class="content">
            <div class="title">Description</div>
            <div class="description">{{ selectedTicket?.description }}</div>
          </div>

          <div class="content">
            <div class="title">Raised By</div>
            <div class="description">{{ selectedTicket?.raisedBy }}</div>
          </div>

          <div class="content">
            <div class="title">Assigned To</div>
            <div class="description">{{ selectedTicket?.assignedTo }}</div>
          </div>

          <div class="content">
            <div class="title">Resolved Date</div>
            <div class="description">{{ selectedTicket?.resolvedDate }}</div>
          </div>

          <div class="content">
            <div class="title">Solution</div>
            <div class="description">{{ selectedTicket?.solution }}</div>
          </div>
        </mat-card>
      </ng-template>
    </div>
  </div>
</mat-drawer-container>
