<mat-toolbar color="primary" class="mat-elevation-z8">
  <mat-icon>home</mat-icon> <em>Welcome</em>

  <div class="spacer"></div>

  <button mat-button (click)="navigateTo('home')">Home</button>
  <!-- <a mat-button (click)='navigateTo("myTickets")'>My Tickets</a> -->
  <button mat-button (click)="navigateTo('raise-ticket')">New Ticket</button>
  <button mat-button (click)="navigateTo('ticket-details')">
    Ticket Details
  </button>
  <button mat-raised-button (click)="signOut()">Logout</button>
</mat-toolbar>
