<div class="center-content">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Login/Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group>
        <!-- LoGin Tab -->
        <mat-tab label="Login">
          <br />
          <mat-card-subtitle>* indicates mandatory field</mat-card-subtitle>
          <form (ngSubmit)="login()" [formGroup]="myGroup">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Email</mat-label>
              <input
                formControlName="emailId"
                type="email"
                matInput
                placeholder="Email"
                required
              />
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Password</mat-label>
              <input
                type="password"
                formControlName="password"
                matInput
                placeholder="Password"
                required
              />
              <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>
            <div>
              <button mat-raised-button color="primary">Login</button>
            </div>
          </form>
        </mat-tab>
        <!-- ReGister Tab -->
        <mat-tab label="Register">
          <br />
          <mat-card-subtitle>* indicates mandatory field</mat-card-subtitle>
          <form (ngSubmit)="register()" [formGroup]="myGroup">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Emp Id</mat-label>
              <input
                type="number"
                formControlName="empId"
                matInput
                placeholder="EmpId"
                value=""
                required
              />
              <mat-icon matSuffix>perm_identity</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Email</mat-label>
              <input
                formControlName="emailId"
                type="email"
                matInput
                placeholder="Email"
                required
              />
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Password</mat-label>
              <input
                type="password"
                formControlName="password"
                matInput
                placeholder="Password"
                required
              />
              <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Confirm Password</mat-label>
              <input
                type="password"
                formControlName="confirmPassword"
                matInput
                placeholder="Password"
                required
              />
              <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>First Name</mat-label>
              <input
                type="text"
                formControlName="firstName"
                matInput
                placeholder="FirstName"
                required
              />
              <mat-icon matSuffix
                ><span class="material-icons-outlined">
                  drive_file_rename_outline
                </span></mat-icon
              >
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Last Name</mat-label>
              <input
                type="text"
                matInput
                formControlName="lastName"
                placeholder="LastName"
                required
              />
              <mat-icon matSuffix
                ><span class="material-icons-outlined">
                  drive_file_rename_outline
                </span></mat-icon
              >
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Role</mat-label>
              <input
                type="text"
                matInput
                formControlName="role"
                placeholder="Role"
                required
              />
              <mat-icon matSuffix>local_offer</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Phone Number</mat-label>
              <input
                type="tel"
                matInput
                formControlName="phoneNumber"
                placeholder="Telephone"
                value=""
                required
              />
              <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Date of birth</mat-label>
              <input
                matInput
                formControlName="dob"
                [matDatepicker]="picker"
                required
              />
              <mat-datepicker-toggle matSuffix [for]="picker">
              </mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Joined Date</mat-label>
              <input
                matInput
                formControlName="joinedDate"
                [matDatepicker]="picker1"
                required
              />
              <mat-datepicker-toggle matSuffix [for]="picker1">
              </mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>

            <div class="form-group">
              <label for="file">Choose Profile Picture:</label>&nbsp; &nbsp;
              <input
                formControlName="file"
                id="file"
                type="file"
                class="form-control"
                (change)="onFileChange($event)"
              />
            </div>

            <br />

            <mat-label>Gender</mat-label>&nbsp;&nbsp;
            <mat-radio-group
              formControlName="gender"
              aria-label="Select an option"
            >
              <mat-radio-button value="male">Male</mat-radio-button> &nbsp;
              <mat-radio-button value="female">Female</mat-radio-button>
            </mat-radio-group>
            <div>
              <br />
              <button mat-raised-button color="primary">Register</button>
            </div>
          </form>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>

  <button mat-button (click)="logout()">Log out</button>

  <router-outlet></router-outlet>
</div>
