table {
  width: 98%;
  margin: 1rem;
}

h1 {
  text-align: center;
  padding-top: 2rem;
}

.mat-cell {
  padding-left: 7px;
  padding-right: 7px;
  text-overflow: ellipsis;
}

.mat-header-cell {
  padding-left: 7px;
  padding-right: 7px;
}
