table {
  width: 50%;
  margin: 2rem;
}

h1 {
  text-align: center;
  padding-top: 2rem;
}

.mat-cell {
  padding-left: 9px;
  padding-right: 9px;
  text-overflow: ellipsis;
}

.mat-header-cell {
  padding-left: 9px;
  padding-right: 9px;
}