
.container {
  background-color: whitesmoke;
}

.grid-container {
  /* margin: 10px; */
  margin: 0px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 30px !important;
}

.dashboard-card-content {
  text-align: left;
}

.mat-card-title {
  font-size: 20;
}

.img-wrap {
  width: 200px;
  height: 200px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;
}

.basic-info{
  padding: 0rem;
  font-size: -inherit; 
}
/* .mat-card-title{

        top: 0;
        left: 1;
        width: 250px;
        position: absolute;
}

  /* position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;

} */

.variation{ 
  display: flex;
  flex-direction: column;
 }

.title{
  color: orange;
}

.mat-icon{
  position: relative;
  top: 9px;
}