
.container {
  background-color: whitesmoke;
}

.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 30px !important;
}

.dashboard-card-content {
  text-align: start;
}

.mat-card-title {
  font-size: 20;
}

.img-wrap {
  width: 200px;
  height: 300px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;
}

.basic-info{
  padding: 2rem;
}

.variation{ 
  display: flex;
  flex-direction: column;
 }

.title{
  
  color: orange;
}
