<div class="container">
  <div class="grid-container">
    <mat-grid-list cols="2" rowHeight="350px">
      <mat-grid-tile
        *ngFor="let card of cards | async"
        [colspan]="card.cols"
        [rowspan]="card.rows"
      >
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{ card.title }}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div *ngIf="card.title == 'Basic Info'">
              <div>
                <img class="img-wrap" [src]='getUrl()' alt="img" />
              </div>

              <div class="basic-info">
                <h2>{{ userData?.firstName }}, {{ userData?.lastName }}</h2>
                <p>Email Id: {{ userData?.emailId }}</p>
                <p>Phone: {{ userData?.mobileNumber }}</p>
                <p>Date of Birth: {{ getDate(userData?.dateOfBirth) }}</p>
              </div>
            </div>

            <div *ngIf="card.title == 'Organisation Info'">
              <p>Role: {{ userData?.role }}</p>
              <p>Project Name: {{ userData?.projectName }}</p>
              <p>Project ID: {{ userData?.projectId }}</p>
              <p>Joined Date: {{ getDate(userData?.joinedDate) }}</p>
            </div>

            <div *ngIf="card.title == 'Awards'">
              <table>
                <tbody>
                  <tr *ngFor="let id of userData?.awards">
                    <td>
                      <div>
                        <p>Award Name: {{ id.awardName }}</p>
                        <p>Given By: {{ id.givenBy }}</p>
                        <p>Date: {{ getDate(id.date) }}</p>
                      </div>
                    </td>
                    <br />
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
