table {
  width: 150%;
  margin: 2rem;
}

h1 {
  text-align: center;
  padding-top: 2rem;
}

.mat-cell {
  padding-left: 30px;
  padding-right: 30px;
  text-overflow: ellipsis;
}

.mat-header-cell {
  padding-left: 30px;
  padding-right: 30px;
}
